streamlit
streamlit-webrtc
av
aliyun-python-sdk-core
git+https://github.com/aliyun/alibabacloud-nls-python-sdk.git
openai
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
certifi
